@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    
    --card: 0 0% 10%;
    --card-foreground: 0 0% 98%;
    
    --popover: 0 0% 5%;
    --popover-foreground: 0 0% 98%;
    
    --primary: 292 90% 80%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 292 50% 40%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 292 30% 15%;
    --muted-foreground: 292 10% 70%;
    
    --accent: 292 73.7% 63.7%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    
    --border: 0 0% 15%;
    --input: 0 0% 15%;
    --ring: 292 70% 70%;
    
    --radius: 0.5rem;
    
    /* Portfolio specific colors */
    --hypr-bg: 0 0% 5%;
    --hypr-sidebar: 0 0% 10%;
    --hypr-text: 0 0% 98%;
    --hypr-primary: 292 90% 80%;
    --hypr-secondary: 292 50% 40%;
    --hypr-accent: 292 90% 80%;
    --hypr-code-bg: 0 0% 10%;
    --hypr-border: 0 0% 15%;
  }

  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-hypr-bg text-hypr-text overflow-x-hidden;
  }

  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-hypr-sidebar;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-500 rounded-sm;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400;
  }
}

.font-fira {
  font-family: 'Fira Code', monospace;
}
